.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/
crates/big_data/.vscode/
crates/big_data/target
crates/big_data/libpath
priv/libbig_data.so
data
logs
target
.idea
big_data.iml