{erl_opts, [debug_info]}.
{deps, []}.
{eunit_opts, [export_all]}.% same as options for eunit:test(Tests, ...)
{eunit_tests, []}. % same as Tests argument in eunit:test(Tests, ...)
{cover_enabled, true}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [big_data]},
    {deps,[meck,recon]}
]}.
{profiles, [
 {test, [{erl_opts, [{d, 'TEST'},nowarn_export_all, export_all]},
          {shell, [{config, "config/sys.config"}]},
          {deps, [recon, meck]}]}
  ]}.

{pre_hooks, [
             {compile, "sh crates/build_crates.sh build"}
             ]}.